astroid==2.4.1
attrs==19.3.0
Automat==20.2.0
cffi==1.14.0
click==7.1.2
constantly==15.1.0
cryptography==2.9.2
cssselect==1.1.0
dateparser==0.7.4
flake8==3.8.3
hyperlink==19.0.0
idna==2.9
importlib-metadata==1.6.1
incremental==17.5.0
isort==4.3.21
lazy-object-proxy==1.4.3
lxml==4.6.2
mccabe==0.6.1
parsel==1.6.0
Protego==0.1.16
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycparser==2.20
PyDispatcher==2.0.5
pyflakes==2.2.0
Pygments==2.6.1
PyHamcrest==2.0.2
pylint==2.5.2
pyOpenSSL==19.1.0
python-dateutil==2.8.1
pytz==2020.1
queuelib==1.5.0
regex==2020.5.14
roman==3.2
Scrapy==2.1.0
service-identity==18.1.0
six==1.15.0
toml==0.10.1
Twisted==20.3.0
typed-ast==1.4.1
tzlocal==2.1
urwid==2.1.0
w3lib==1.22.0
wrapt==1.12.1
zipp==3.1.0
zope.interface==5.1.0
